@model Contact

@{
    ViewData["Title"] = "Deletar Contato";
}

<div class="text-center">

    <h1>Deletar o Contato @Model.Name ?</h1>
    @Html.Raw(TempData["notexist"])
</div>
<div class="row g-3 align-items-center">

    <a type="submit" role="button" class="btn btn-sm btn-danger" asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@Model.Id">Confirmar</a>
    <a type="submit" role="button" class="btn btn-sm btn-primary" asp-controller="Contact" asp-action="Index">Cancelar</a>

</div>