@model Contact
@{
    ViewData["Title"] = "Add Contato";
}

<div class="text-center">

    <h1>Adicionar Contato</h1>

</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <form asp-controller="Contact" asp-action="CreateContact" method="post">
            <div class="form-group col">
                <input type="text" asp-for="Name" class="form-control" placeholder="Nome" />
                @Html.ValidationMessageFor(contact => contact.Name)
            </div>

            <div class="form-group">
                <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
                @Html.ValidationMessageFor(contact => contact.Email)
            </div>

            <div class="form-group">
                <input type="text" asp-for="CellPhone" class="form-control" placeholder="Celular" />
                @Html.ValidationMessageFor(contact => contact.CellPhone)
            </div>

            <button type="submit" class="btn btn-sm btn-primary">Add</button>
            <a role="button" class="btn btn-sm btn-secondary" asp-controller="Contact" asp-action="Index">Voltar</a>


        </form>
    </div>
</div>