@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">

    <h1>Editar Contato</h1>

</div>
<div class="row g-3 align-items-center">
    <form>
        <div class="form-group col-auto">
            <input type="text" class="form-control" placeholder="Nome" />
        </div>

        <div class="form-group col-auto">
            <input type="text" class="form-control" placeholder="Email" />
        </div>

        <div class="form-group col-auto">
            <input type="text" class="form-control" placeholder="Celular" />
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Atualizar</button>
        <a role="button" class="btn btn-sm btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>

    </form>
</div>