@model ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">

    <h1>Editar Contato</h1>

</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <form asp-controller="Contato" asp-action="Alterar" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group col">
                <label>Nome:</label>
                <input type="text" asp-for="Nome" class="form-control" placeholder="Nome" />
                @Html.ValidationMessageFor(contato => contato.Nome)
            </div>

            <div class="form-group col">
                <label>Email:</label>
                <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
                @Html.ValidationMessageFor(contato => contato.Email)
            </div>

            <div class="form-group col">
                <label>Celular:</label>
                <input type="text" asp-for="Celular" class="form-control" placeholder="Celular" />
                @Html.ValidationMessageFor(contato => contato.Celular)
            </div>
            <div class="form-group col pt-1">
                <button type="submit" class="btn btn-sm btn-primary">Atualizar</button>
                <a role="button" class="btn btn-sm btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>