@{
    Layout = "_LayoutLogout";
    ViewData["Title"] = "Restrição";
}

<p>Você não tem permissão para acessar está página ou funcionalidade. </p>
<a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">Clique aqui para voltar a Home.</a>