@model RedefinePasswordModel
@{
    Layout = "_LayoutLogout";
    ViewData["Title"] = "Redefinir Senha";
}

<div id="LoginApp" class="container d-flex justify-content-center">
    <div class="col-4">
        <form asp-controller="Login" asp-action="SendLinkRedefinePw" method="post">
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login" asp-for="Login" />
                @Html.ValidationMessageFor(user => user.Login)
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" asp-for="Email" />
                @Html.ValidationMessageFor(user => user.Email)
            </div>            
            <div class="row mx-auto">
            <button type="submit" class="btn btn-sm btn-primary m-1">Redefinir Senha</button>
            <a role="button" class="btn btn-sm btn-secondary m-1" asp-controller="Login" asp-action="Index">Voltar</a>
            </div>
            @if (TempData["MsgError"] != null)
            {
                <div class="small mt-1 alert alert-danger col-auto text-center" role="alert" v-show="alertDiv">
                    @TempData["MsgError"]
                    <button type="button" class="btn btn-sm btn-danger btn-close rounded-circle p-1" aria-label="Close" @@click="closeAlert"></button>
                </div>
            }

        </form>
    </div>
</div>
<script src="https://unpkg.com/vue@3.2.41/dist/vue.global.js"></script>
<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                alertDiv: true,
            }
        },
        methods: {

            closeAlert: function () {
                this.alertDiv = false;
            },

        },
    }).mount('#LoginApp')
</script>
