@model UserModel
@{
    ViewData["Title"] = "Add Usuário";
}

<div class="text-center">

    <h1>Add Usuário</h1>

</div>
<div class="row g-3 align-items-center">
    <form asp-controller="Usuario" asp-action="Criar" method="post">
        <div class="form-group col-auto">
            <input type="text" asp-for="Nome" class="form-control" placeholder="Nome" />
            @Html.ValidationMessageFor(user => user.Nome)
        </div>

        <div class="form-group col-auto">
            <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
            @Html.ValidationMessageFor(user => user.Email)
        </div>

        <div class="form-group col-auto">
            <input type="text" asp-for="Login" class="form-control" placeholder="Celular" />
            @Html.ValidationMessageFor(user => user.Login)
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Add</button>
        <a role="button" class="btn btn-sm btn-secondary" asp-controller="Usuario" asp-action="Index">Voltar</a>te
    </form>
</div>